@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@layer base{
    #navbarul li{
        @apply transform hover:text-[#EAE7B1] cursor-pointer transition duration-500 hover:scale-125 uppercase font-bold;
        @apply px-4;
    }

    #socialIcons li{
        @apply px-4;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #EAE7B1,
        #A6BB8D  
    )!important;
}